<?xml version="1.0"?>

<ruleset name="Pronamic WordPress Updater">
	<file>.</file>

	<exclude-pattern type="relative">^node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">^vendor/*</exclude-pattern>

	<rule ref="PronamicWP">

	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="pronamic-updater" />
			</property>
		</properties>
	</rule>
</ruleset>
